.header {
    background-color: #61dafb;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .title {
    width: 200px;
    padding-left: 10px;
    cursor: pointer;
  }

  .menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0 10px;
    list-style-type: none;
  }

  .activemenu {
    color: white;
    background-color: #1789a8;
  }
  
  .menuitem {
    width: 100px;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
  }
  